@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/staticdeps/jquery.min.js"></script>
    <script src="~/staticdeps/jquery.signalR.min.js"></script>
    <script src="/signalr/js"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
